<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khalej.Turba">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Add_second_category_tager"></activity>
        <activity android:name=".Activity.Category" />
        <activity android:name=".Activity.General_Category" />
        <activity android:name=".Activity.MainAdmin" />
        <activity android:name=".Activity.Register_tager" />
        <activity android:name=".Activity.Register_mandop" />
        <activity android:name=".Activity.Show_offer" />
        <activity android:name=".Activity.offers" />
        <activity android:name=".Activity.Shrot" />
        <activity android:name=".Activity.Shrott" />
        <activity android:name=".Activity.Search_Activity" />
        <activity android:name=".Activity.Order_detail" />
        <activity android:name=".Activity.Orders" />
        <activity android:name=".Activity.Whous" />
        <activity android:name=".Activity.Bared" />
        <activity android:name=".Activity.Aramex" />
        <activity android:name=".Activity.Order_Details" />
        <activity android:name=".Activity.Show" />
        <activity android:name=".Activity.first_second_category" />
        <activity android:name=".Activity.Registration" />
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>